[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"
pytest = "*"
coverage = "*"

[packages]
peewee = "==3.9.4"
pyfiglet = "*"

[requires]
python_version = "3.7"
