[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
coverage = "*"
black = "*"

[packages]
peewee = "==3.9.4"
pyfiglet = "*"
colorama = "*"

[requires]
python_version = "3.7"
